<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        {{ bootstrap.load_css() }}
    </head>
    <body>
        LOL
        <div class="text-center">
            <img src="https://images.unsplash.com/photo-1723958929247-ef054b525153?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="rounded w-50"> <!--https://unsplash.com/photos/a-blurry-image-of-a-lol-bubble-with-the-word-lol-on-it-GCakG_Kr0UM?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash-->
        </div>
        {{ bootstrap.load_js() }}
    </body>
</html>